{
  "presets": [
    "babel-preset-env",
    "babel-preset-react",
    "babel-preset-stage-0",
    [
      "babel-preset-es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "react-hot-loader/babel"
  ]
}
